<div class="container blogSection">
  <div class="row py-5">

    <!-- Loading or Error -->
    <div class="col-md-9 col-12" *ngIf="allBlogs.loading || allBlogs.error">
      {{ allBlogs.loading ? 'Loading...' : allBlogs.error }}
    </div>

    <!-- Blogs Section -->
    <div class="col-md-9 col-12 mb-2" *ngIf="!allBlogs.loading && !allBlogs.error">
      
      <!-- No Blogs -->
      <p *ngIf="!publishedBlogs.length">
        <i class="fa fa-exclamation-triangle me-2" aria-hidden="true"></i> 
        No published blogs found for the selected category!
      </p>

      <!-- Blogs Available -->
      <div class="row" *ngIf="publishedBlogs.length">
        
        <!-- Section Title -->
        <p class="section-title">
          <i class="fa fa-paperclip me-2" aria-hidden="true"></i> 
          {{ currentCategoryId == 'all' ? 'All' : (publishedBlogs[0]?.category.name | titlecase) }} topic blogs
        </p>

        <!-- Pagination -->
        <nav aria-label="...">
          <ul class="pagination pagination-sm">
            <li class="page-item" 
                [class.active]="page == allBlogs.currentPage" 
                *ngFor="let page of allBlogs.totalPages">
              <a class="page-link" (click)="changePage(page)"> {{ page }} </a>
            </li>
          </ul>
        </nav>
        

        <!-- Blogs Cards -->
        <div class="row">
          <div class="col-md-4 col-12" *ngFor="let blog of publishedBlogs">
            <div class="card blogs" style="width: 100%;">
              
              <!-- Blog Image -->
              <div class="img">
                <img [src]="blog.img" class="card-img-top">
              </div>

              <!-- Blog Content -->
              <div class="card-body">
                
                <!-- Title -->
                <h5 class="card-title">
                  <a [routerLink]="['/blog', blog._id]">
                    {{ blog.title }}
                  </a>
                </h5>
                
                <!-- Admin Actions -->
                <div class="admin-actions d-flex justify-content-between mt-3">
                  <button class="btn btn-outline-secondary btn-sm d-flex align-items-center" [routerLink]="['/blog', blog._id]">
                    <i class="fa fa-eye me-1"></i> View
                  </button>
                </div>

                <!-- Blog Meta Info -->
                <p class="card-text">
                  <i class="fa fa-calendar" aria-hidden="true"></i> 
                  {{ blog.posted | date: 'mediumDate' }}
                  <br>
                  <i class="fa fa-flag" aria-hidden="true"></i> 
                  <span [ngClass]="{
                    'text-success': blog.status === 'Published',
                    'text-warning': blog.status === 'Draft'
                  }">
                    {{ blog.status }}
                  </span>
                </p>

                <p class="card-text">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                  {{ blog.writter.first_name }}
                  <br>
                  <i class="fa fa-bookmark" aria-hidden="true"></i> 
                  {{ blog.category.name }}
                </p>

              </div>
            </div>
          </div>
        </div>
        <!-- End Blogs Cards -->

      </div>
      <!-- End Blogs Available -->
    </div>
    <!-- End Blogs Section -->

    <!-- Categories Sidebar -->
    <div class="col-md-3 col-12">
      <app-category [status]="'Published'"></app-category>
    </div>

  </div>
</div>
